:root {
  --background-black: #1b1f23;
  --color-white: #ffffff;
  --color-ash: #7e72723b;
  --color-ash-dark: #7e7272e1;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}

/* Start of The three icons on small screens */
@media (min-width: 768px) {
  .small-screen {
    display: none;
  }
}

@media (max-width: 767px) {
  .small-screen {
    display: flex;
    background-color: var(--background-black);
    color: var(--color-white);
    padding: 10px 0;
  }

  .small-screen > * {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .small-screen .bars {
    flex: 1;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--color-white);
    justify-content: flex-start;
    padding-left: 15px;
    font-size: 25px;
  }

  .small-screen .github-logo {
    flex: 5;
    justify-content: center;
  }

  .small-screen .bell {
    flex: 1;
    justify-content: flex-end;
    padding-right: 15px;
  }
}

/*End of The three icons on small screens */

/* Nav bar for big screen */
.nav,
.nav-1 {
  display: flex;
  background-color: var(--background-black);
}

@media (min-width: 768px) {
  .nav,
  .nav-1 {
    justify-content: space-between;
    align-items: center;
  }
  .dashboard,
  .codespaces,
  .sponsors,
  .settings,
  .sign-out,
  .name,
  .avatar-container {
    display: none;
  }
  .nav {
    padding: 10px 20px;
  }

  .github-logo2 {
    margin-right: 14px;
    color: var(--color-white);
  }

  .nav-link {
    padding: 0 15px;
  }

  .nav-link > * {
    padding: 0 3px;
    font-size: 12px;
    font-weight: bold;
    color: var(--color-white);
  }
  .thumbnail-container {
    color: var(--color-white);
  }
  .thumbnail-container > * {
    padding: 0 8px;
  }
  .bell {
    font-size: 12.5px;
  }
  .fa-caret-down {
    font-size: 10px;
  }
  .thumbnail-container {
    display: flex;
    align-items: center;
  }
  .thumbnail {
    width: 18px;
    height: auto;
    border-radius: 50%;
  }
  .name-container {
    display: flex;
    align-items: center;
  }
  .name-container .fa-caret-down {
    margin-left: 5px;
    color: var(--color-white);
  }
}

.search {
  border: 1px solid var(--color-ash);
  border-radius: 5px;
  display: flex;
  padding: 3px;
}

.search input {
  border: none;
  background-color: transparent;
}

.search input:focus {
  border: none;
  outline: none;
}

.search input::placeholder {
  font-size: 11px;
  font-weight: bold;
}
.search-key-slash {
  width: 15px;
  height: auto;
}

/* End of nav bar for big screen */

/* start nav bar for small screen */

@media (max-width: 767px) {
  .nav.toggle {
    display: none;
  }
  .nav {
    padding: 0 15px 15px;
    transition: all ease 0.3s;
  }
  .nav,
  .nav-1 {
    flex-direction: column;
  }
  .nav-1 > * {
    margin: 15px 0 0;
  }
  .search {
    display: flex;
    width: 100%;
  }
  .search input {
    flex: 1;
  }

  .github-logo2,
  .fa-caret-down,
  .thumbnail-container .bell,
  .plus-caret {
    display: none;
  }

  .nav-link {
    display: flex;
    flex-direction: column;
  }
  .nav-link > * {
    border-top: 1px solid var(--color-ash);
    padding: 7px 0;
    font-size: 12px;
    color: var(--color-white);
  }
  .thumbnail-container {
    display: flex;
    flex-direction: column;
  }
  .thumbnail-container > * {
    border-top: 1px solid var(--color-ash);
    padding: 5px 0;
    color: var(--color-white);
    font-size: 12px;
  }

  .name-container {
    display: flex;
    align-items: center;
  }
  .name-container .name {
    padding-left: 5px;
  }
  .avatar.seperate {
    display: none;
  }
}
/* end navbar for small screen */

/* Main */
@media (max-width: 767px) {
  main {
    flex-direction: column;
  }

  .image-name {
    display: flex;
    align-items: center;
  }
  .image-container {
    flex: 1;
    margin-right: 20px;
  }
  .full-name-username {
    flex: 5;
  }
}
main {
  display: flex;
  padding-top: 10px;
}
main > * {
  padding: 15px;
}
@media (min-width: 768px) {
  main {
    padding-left: 35px;
    padding-right: 35px;
  }
  .nav-link-container {
    padding-left: 0;
    width: 100%;
  }
}

.profile {
  padding: 20px;
}
.image-container {
  position: relative;
}
.avatar.seperate {
  position: absolute;
  top: 72%;
  left: 79%;
  border: 1px solid var(--color-ash);
  border-radius: 50%;
  padding: 7px;
  background-color: var(--color-white);
}
.full-image {
  border-radius: 50%;
  border: 1px solid var(--color-ash);
  min-width: 20px;
}

.avatar-container {
  border: 1px solid var(--color-ash);
  padding: 4px;
  border-radius: 7px;
}

.fullname {
  font-weight: 500;
  color: var(--background-black);
}
.username {
  color: var(--color-ash-dark);
  margin-top: -20px;
  font-weight: 200;
}
.edit-button {
  width: 100%;
  text-align: center;
  padding: 5px;
  border: 1px solid var(--color-ash);
  border-radius: 7px;
  background-color: var(--color-white);
  margin: 7px 0;
}
.edit-button:hover {
  background-color: var(--color-ash);
}
.user-follow {
  margin: 7px 0;
}

.user-follow a {
  color: var(--background-black);
}

.followers-count,
.followings-count,
.stars-count {
  font-weight: 600;
}

.contact li {
  padding-top: 7px;
  color: var(--background-black);
}

/* End of main */

/* Start user profile */
.fa-link {
  transform: rotate(90deg);
}
.fa-dot {
  font-size: 18px;
  color: var(--background-black);
}

/* End user profile */

/* Links */
.links {
  position: relative;
  padding: 5px;
  display: flex;
  color: var(--color-ash-dark);
}

@media (max-width: 767px) {
  .links {
    overflow-x: scroll;
  }
}
.links::before {
  content: "";
  background-color: var(--color-ash);
  position: absolute;
  top: 50px;
  height: 1px;
  width: 7000px;
  transform: translateX(-3500px);
  z-index: -1;
}
.links > * {
  padding: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.links > *:hover {
  border-bottom: 2px solid var(--color-ash-dark);
}
.overview {
  padding-left: 0;
}

.links svg {
  margin-right: 10px;
  opacity: 0.8;
}

.repositories {
  border-bottom: 2px solid red;
}
/* end of links */

/* repos  */
.repos-container {
  width: 100%;
}

.find-repos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.find-repos input {
  margin: 10px 7px;
  padding: 3px;
  padding-left: 10px;
  border-width: 1px;
  border-color: var(--color-ash);
  border-radius: 4px;
  flex: 1;
}

@media (max-width: 600px) {
  .button-group {
    order: 3;
    display: block;
  }
}

.find-repos input::placeholder {
  font-size: 12px;
}

/* end of repos */

/* repo */
.repo {
  border-top: 1px solid var(--color-ash);
  padding: 25px 0;
}
.repo-name {
  display: block;
  padding: 10px 0;
  font-size: 22px;
  color: blue;
}
@media (max-width: 480px) {
  .repo-name {
    width: 25ch;
  }
}
.language-name {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  margin: 5px 9px 0 0;
}

.language-name > * {
  margin-right: 7px;
  font-size: 14px;
}

.update {
  font-size: 12px;
}

.button-star {
  float: right;
  transform: translateY(-100%);
  padding: 5px;
}

/* end of repo */
